body {
background-color: #F4F2F2;
}

h1 {
  color: #4A4784;
  text-align: center;
}

table {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

input[type="button"] {
  padding: 1em;
  width: 4.3em;
  font-family: 'Arima Madurai', cursive;
  font-weight: bold;
  font-size: 1em;
  border: none;
  background-color: #B3B2CC;
  color: #4A4784;
}

input[type="text"] {
  width: 12em;
  margin: 0.5em 0;
  text-align: right;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5em;
  border: none;
  background-color: #1F212D;
  color: #7CA0C3;
}

#zero,
#clear {
  width: 8.8em;
}

#calculator {
  text-align: center;
}
